@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Montserrat";
	src: local("Montserrat-SemiBold"),
		url("./components/Fonts/Montserrat-SemiBold.woff2"),
		url("./components/Fonts/Montserrat-SemiBold.woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: local("Montserrat-Bold"),
		url("./components/Fonts/Montserrat-Bold.woff2") format("woff2"),
		url("./components/Fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Monstserrat";
	src: local("Monstserrat-ExtraBold"),
		url("./components/Fonts/Montserrat-ExtraBold.woff2"),
		url("./components/Fonts/Montserrat-ExtraBold.woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Monstserrat";
	src: local("Montserrat-Regular"),
		url("./components/Fonts/Montserrat-Regular.woff2"),
		url("./components/Fonts/Montserrat-Regular.woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: "Monstserrat", sans-serif;
	box-sizing: border-box;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	outline: none;
}

*:focus-visible {
	outline: 0;
}

body {
	background: var(--bg-color);
}

:root {
	--desc-text: #0d2f3f;
	--log-text: #286f6c;
	--title-text: #16465d;
	--bg-color: #f8f7f1;
	--text-white: #fff;
	--text-gray: #eaeaea;
}

nav {
	text-transform: uppercase;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

button {
	border: none;
}

/* CUSTOM__CLASS */

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 3.4rem;
}

.sections {
	padding: 3.4rem 0;
}

.sections__title {
	font-family: "Monstserrat", sans-serif;
	color: var(--title-text);
	font-size: 3em;
	font-weight: 600;
	line-height: 1.3em;
}

.sections__desc {
	font-family: "Monstserrat", sans-serif;
	color: var(--desc-text);
	margin-bottom: 1.25em;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.75em;
}

.sections__link {
	border: 0;
}

