.banner_desc {
	color: var(--5, #0d2f3f);
	font-family: "Monstserrat";
	font-size: 1.625rem;
	font-weight: 400;
	line-height: 36px; /* 138.462% */
}

.banner_center img {
	max-width: 500px;
	width: 100%;
	min-height: 271px;
	overflow: hidden;
	object-fit: cover;
	width: 100%;
	border-radius: 2rem;
	box-shadow: 0 24px 28px rgba(0, 0, 0, 0.384);
	transition: transform 0.3s ease-in-out;
	/* transform: scale(0.9); */
}

.social__icon:hover:not(:focus-visible) path {
	transition: fill 0.3s ease-in-out;
	fill: rgba(209, 9, 9, 0.746);
}

.location_icon:hover path:not(:focus-visible) {
	transition: fill 0.3s ease-in-out;
	fill: rgba(209, 9, 9, 0.746);
	width: fit-content;
}

/* transition: fill 0.3s ease-in-out; */
/* .social-icons svg:hover:not(:focus-visible) path {
  fill: var(--links-color);
  transition: fill 0.3s ease-in-out;
} */

/* .header__nav > svg:hover:not(:focus-visible) path {
  stroke: var(--links-color);
  transition: stroke 0.3s ease-in-out;
} */
